name: Mailer Microservices CI with ESO for secret mgmt
on:
  pull_request:
    branches: ['main','develop/*']
    types: [opened, synchronize, reopened]

# Both workflows should have the same concurrency group
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true  # Cancel any in-progress runs in the same group and runs only the latest commit

jobs:
  mailer-service-ci:
    uses: cloudhein/workflows/.github/workflows/common-jobs.yaml@main
    with:
      working-directory: 'cmd/mailer'
      go-version: ">=1.22"
      binary-name: 'mailer' # This maps to -o mailer

  containerize:
    runs-on: ubuntu-latest
    needs: [mailer-service-ci]
    if: github.ref == 'refs/heads/main' || github.event_name == 'pull_request'

    steps:
      - name: checkout code
        uses: actions/checkout@v4
  
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Authenticate to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build Docker image (local only)
        run: |
          docker build -t "${{ vars.DOCKERHUB_USERNAME }}/mailer:${{ github.run_id }}" .

      - name: Scan image in a private registry
        id: trivy-scan
        uses: aquasecurity/trivy-action@0.28.0
        with:
          image-ref: ${{ vars.DOCKERHUB_USERNAME }}/mailer:${{ github.run_id }} 
          scan-type: image
          severity: 'CRITICAL'
          format: 'table'
          exit-code: '1'
          ignore-unfixed: true
          scanners: 'vuln,secret'

      - name: Push Docker images
        # Only push if the scan was successful
        if: steps.trivy-scan.outcome == 'success'
        run: docker push "${{ vars.DOCKERHUB_USERNAME }}/mailer:${{ github.run_id }}"

  update-k8s-manifest:
    runs-on: ubuntu-latest
    needs: containerize
    if: github.ref == 'refs/heads/main' || github.event_name == 'pull_request'
    steps:
      - name: Checkout application code
        uses: actions/checkout@v4

      - name: Checkout K8s manifest repository
        uses: actions/checkout@v4
        with:
          repository: cloudhein/flextrack-microservices
          ref: main  # or your target branch
          token: ${{ secrets.PERSONAL_ACCESS_TOKEN }}  # PAT with repo access
          path: flextrack-repo  # Checkout to subdirectory & used in multiple repo checkout

      - name: Verify files exist
        run: |
          echo "Checking directory structure:"
          ls -la flextrack-repo/flextrack-local-kind/
          echo "Looking for mailer.yaml:"
          ls -la flextrack-repo/flextrack-local-kind-eso/mailer.yaml

      - name: Update Kubernetes manifest
        run: |
          # Update the manifest file in the k8s-manifests directory
          sed -i "s|image: .*|image: ${{ vars.DOCKERHUB_USERNAME }}/mailer:${{ github.run_id }}|g" flextrack-repo/flextrack-local-kind-eso/mailer.yaml 

      - name: Commit and push changes to K8s repo
        working-directory: flextrack-repo/flextrack-local-kind-eso
        
        run: |
          git config --local user.name "GitHub Actions Bot"
          git config --local user.email "actions@github.com"
          git add mailer.yaml 
          
          # Check if there are changes to commit
          if git diff --staged --quiet; then
            echo "No changes to commit"
          else
            git commit -m "[CI] Update mailer image to ${{ github.run_id }} from ${{ github.repository }} [skip ci]"
            git push origin main  # or your target branch
          fi