name: Mailer Microservices CI with ESO for secret mgmt
on:
  pull_request:
    branches: ['main','develop/*']
    types: [opened, synchronize, reopened]
    paths:
      # 1. The Entry Point
      - 'cmd/mailer/**'

      # 2. The Core Logic (CRITICAL)
      - 'internal/**'

      # 3. Dependencies & Build Config
      - 'go.mod'
      - 'go.sum'
      - 'Dockerfile'
      - 'Makefile'

      # 4. Quality Gate Config
      - 'sonar-project.properties'

      # 5. Pipeline Logic
      - '.github/workflows/**'

      # 6. Exclude non-code changes
      - '!README.md'
      - '!Dockerfile'
      - '!.gitignore'
      - '!VERSION*'

# Both workflows should have the same concurrency group
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true  # Cancel any in-progress runs in the same group and runs only the latest commit

jobs:
  test-paths-ignore:
    runs-on: ubuntu-latest
    steps:
      - name: This should not run for README/gitignore changes
        run: echo "Paths filter is NOT working!"

  mailer-service-ci:
    uses: cloudhein/workflows/.github/workflows/common-jobs.yaml@012a2b715ba5111dc74bda914344247a40d52eeb
    with:
      working-directory: 'cmd/mailer'
      go-version: ">=1.22"
      binary-name: 'mailer' # This maps to -o mailer
      sonar-project-key: cloudhein_mailer
      sonar-organization: cloudhein
    secrets:
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

  mailer-deploy-service:
    if: github.ref == 'refs/heads/main' || (github.event_name == 'pull_request' && github.base_ref == 'main')
    needs: mailer-service-ci
    uses: cloudhein/workflows/.github/workflows/deploy-jobs.yaml@012a2b715ba5111dc74bda914344247a40d52eeb
    with:
      service-name: 'mailer'
      dockerhub-username: ${{ vars.DOCKERHUB_USERNAME }}
      manifest-file: 'mailer.yaml'
      repository: 'cloudhein/flextrack-microservices'
      directory: 'flextrack-eks-cluster-eso'
    secrets:
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
      PERSONAL_ACCESS_TOKEN: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
